# Node.js
node_modules
npm-debug.log
package-lock.json

# Env & secrets
*.env
/family/noona-warden/settings/config.env

# VCS / IDE
.git
.gitignore
.idea
*.iml

# OS files
.DS_Store
Thumbs.db

# Test files or local-only dev assets
*.test.js
*.spec.js
__tests__/
coverage/
*.log

# Build output
dist
build
